<nav class="navbar py-1 px-2 navbar-light bg-white sub-header">
  <div class="container-no">

    <div class="media overflow-visible">
      <div class="media-body media-middle overflow-visible">
        <h3 class="weight-300 m-0">Disclosures</h3>
      </div>
      <div class="media-right media-middle text-truncate">
        <ul class="list-unstyled list-inline mb-0">
          <li class="list-inline-item">
            <button class="btn btn-primary" (click)="addDisclosure()"><i class="fa fa-plus"></i> <span
              class="hidden-sm-down">&nbsp;Add Disclosure</span></button>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>


<div class="admin-wrapper">
  <div class="container-no p-2">
    <div class="card">
      <div class="card-block">
        <p-dataTable [value]="disclosures" [rows]="15" [globalFilter]="rc" [paginator]="false" [pageLinks]="3"
                     [rowsPerPageOptions]="[10,20,50]" scrollWidth="100%">
          <p-column field="DisclosureType.type" header="Type"></p-column>
          <p-column field="recordId" header="Record" [style]="{width: '250px'}"></p-column>
          <p-column field="note" header="Disclosure" [style]="{width: '280px'}"></p-column>
          <p-column field="isActive" header="Active"></p-column>
          <p-column field="effectiveStartDate" header="Effective Start Date"></p-column>
          <p-column field="effectiveEndDate" header="Effective End Date"></p-column>
          <p-column header="Actions">
            <ng-template let-row="rowData" pTemplate="body">
              <div class="dropdown dropdown-custom pl-1">
                <a class="action-dot" href="javascript:;" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                  &#8226;&#8226;&#8226;
                </a>
                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="javascript:;" (click)="editDisclosure(row)"><i aria-hidden="true"
                                                                                                class="fa fa-pencil"></i>
                    &nbsp;&nbsp;Edit</a>
                  <a class="dropdown-item" href="javascript:;" (click)="deleteDisclosure(row)"><i aria-hidden="true"
                                                                                                  class="fa fa-trash-o"></i>
                    &nbsp;&nbsp;Delete</a>
                </div>
              </div>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>
<div (click)="onContainerClicked($event)" class="modal fade panel-right" tabindex="-1" role="dialog"
     [ngClass]="{'in': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <add-disclosure></add-disclosure>
</div>
<confirmation></confirmation>
