<div [formGroup]="form" class="form-group material-style">
  <div [ngSwitch]="attribute.dataType">

    <!--TEXT-->
    <textarea class="form-control"
              *ngSwitchCase="'TEXT'"
              [formControlName]="attribute.name"
              placeholder=" "
              (ngModelChange)="onValueChange($event)"
              [ngClass]="attribute.classes?.attribute"
              [id]="attribute.key"></textarea>

    <!--INTEGER-->
    <input class="form-control"
           *ngSwitchCase="'INTEGER'"
           [formControlName]="attribute.name"
           placeholder=" "
           type="number"
           (ngModelChange)="onValueChange($event)"
           [ngClass]="attribute.classes?.attribute"
           [id]="attribute.key">

    <!--BIGINT-->
    <input class="form-control"
           *ngSwitchCase="'BIGINT'"
           [formControlName]="attribute.name"
           placeholder=" "
           type="number"
           (ngModelChange)="onValueChange($event)"
           [ngClass]="attribute.classes?.attribute"
           [id]="attribute.key">

    <!--FLOAT-->
    <input class="form-control"
           *ngSwitchCase="'FLOAT'"
           [formControlName]="attribute.name"
           placeholder=" "
           type="number"
           (ngModelChange)="onValueChange($event)"
           [ngClass]="attribute.classes?.attribute"
           [id]="attribute.key">

    <!--REAL-->
    <input class="form-control"
           *ngSwitchCase="'REAL'"
           [formControlName]="attribute.name"
           placeholder=" "
           type="number"
           (ngModelChange)="onValueChange($event)"
           [ngClass]="attribute.classes?.attribute"
           [id]="attribute.key">

    <!--BIGINT-->
    <input class="form-control"
           *ngSwitchCase="'BIGINT'"
           [formControlName]="attribute.name"
           placeholder=" "
           type="number"
           (ngModelChange)="onValueChange($event)"
           [ngClass]="attribute.classes?.attribute"
           [id]="attribute.key">

    <!--DOUBLE-->
    <input class="form-control"
           *ngSwitchCase="'DOUBLE'"
           [formControlName]="attribute.name"
           placeholder=" "
           type="number"
           (ngModelChange)="onValueChange($event)"
           [ngClass]="attribute.classes?.attribute"
           [id]="attribute.key">

    <!--DECIMAL-->
    <input class="form-control"
           *ngSwitchCase="'DECIMAL'"
           [formControlName]="attribute.name"
           placeholder=" "
           type="number"
           (ngModelChange)="onValueChange($event)"
           [ngClass]="attribute.classes?.attribute"
           [id]="attribute.key">

    <!--BOOLEAN-->
    <select class="form-control"
            *ngSwitchCase="'BOOLEAN'"
            [formControlName]="attribute.name"
            (ngModelChange)="onValueChange($event)"
            [ngClass]="attribute.classes?.attribute"
            [id]="attribute.key">
      <option [value]="false">false</option>
      <option [value]="true">true</option>
    </select>

    <!--DATE-->
    <input class="form-control"
           *ngSwitchCase="'DECIMAL'"
           [formControlName]="attribute.name"
           placeholder=" "
           type="datetime"
           (ngModelChange)="onValueChange($event)"
           [ngClass]="attribute.classes?.attribute"
           [id]="attribute.key">

    <!--DATEONLY-->
    <input class="form-control"
           *ngSwitchCase="'DECIMAL'"
           [formControlName]="attribute.name"
           placeholder=" "
           type="date"
           (ngModelChange)="onValueChange($event)"
           [ngClass]="attribute.classes?.attribute"
           [id]="attribute.key">

    <!--JSON-->
    <code-editor *ngSwitchCase="'JSON'"
                 class="height-auto"
                 [formControl]="form.controls[attribute.name]"
                 (ngModelChange)="onValueChange($event)"
                 [ngClass]="attribute.classes?.attribute"
                 [id]="attribute.key">
    </code-editor>

    <!--JSONB-->
    <code-editor *ngSwitchCase="'JSONB'"
                 class="height-auto"
                 [formControl]="form.controls[attribute.name]"
                 (ngModelChange)="onValueChange($event)"
                 [ngClass]="attribute.classes?.attribute"
                 [id]="attribute.key">
    </code-editor>

    <!--ENUM-->
    <ng-select *ngSwitchCase="'ENUM'"
               [active]="attribute.value"
               [multiple]="false"
               [items]="attribute.options"
               (data)="refreshValue($event)"
               placeholder="Choose Item(s)">
    </ng-select>

    <!--ARRAY-->
    <tag-input *ngSwitchCase="'ARRAY'" [(ngModel)]='attribute.value'
               [ngModelOptions]="{standalone: true}"
               [editable]="false"
               [trimTags]="true"
               (onAdd)="onAdd($event)"
               (onRemove)="onRemove($event)"
               [placeholder]="'Add ' + attribute.name"
               [secondaryPlaceholder]="'Enter ' + attribute.name "></tag-input>

    <!--WIZE_CODE-->
    <code-editor *ngSwitchCase="'WIZE_CODE'"
                 class="height-auto"
                 [formControl]="form.controls[attribute.name]"
                 (ngModelChange)="onValueChange($event)"
                 [ngClass]="attribute.classes?.attribute"
                 [id]="attribute.key">
    </code-editor>

    <!--WIZE_MONEY-->
    <input class="form-control"
           *ngSwitchCase="'WIZE_MONEY'"
           [formControlName]="attribute.name"
           placeholder=" "
           type="number"
           (ngModelChange)="onValueChange($event)"
           [ngClass]="attribute.classes?.attribute"
           [id]="attribute.key">

    <!--WIZE_MONEY-->
    <input class="form-control"
           *ngSwitchCase="'WIZE_TIME'"
           [formControlName]="attribute.name"
           placeholder=" "
           type="time"
           (ngModelChange)="onValueChange($event)"
           [ngClass]="attribute.classes?.attribute"
           [id]="attribute.key">

    <!--WIZE_MONEY-->
    <input class="form-control"
           *ngSwitchCase="'WIZE_URL'"
           [formControlName]="attribute.name"
           placeholder=" "
           type="url"
           (ngModelChange)="onValueChange($event)"
           [ngClass]="attribute.classes?.attribute"
           [id]="attribute.key">

    <!--DEFAULT (STRING)-->
    <input class="form-control"
           *ngSwitchDefault
           [formControlName]="attribute.name"
           placeholder=" "
           type="text"
           (ngModelChange)="onValueChange($event)"
           [ngClass]="attribute.classes?.attribute"
           [id]="attribute.key">
    <small *ngIf="form.controls[attribute.name].invalid && form.controls[attribute.name].touched" class="form-text">
      {{attribute.displayName}} is invalid.
    </small>

    <label
      *ngIf="attribute.displayName"
      [attr.for]="attribute.name">
      {{attribute.displayName}}
    </label>

  </div>
</div>
