<!--<div class="navbar navbar-full py-1 px-2 navbar-light bg-faded sub-header">
  <wize-admin-header></wize-admin-header>
</div>-->

<!-- SAMPLE SUB HEADER ADDED -->
<nav class="navbar py-1 px-2 navbar-light bg-white sub-header">
  <div class="container-no">
    <div class="media" style="overflow:visible;min-height: 34px">
      <div class="media-body media-middle" style="overflow:visible;">
        <h3 class="weight-300  m-0">Security</h3>
      </div>
      <div class="media-body media-middle" style="overflow:visible">
        <ul class="list-unstyled list-inline m-0 text-xs-right">
          <li class="list-inline-item">
            <div>
              <div class="search-header">
                <i class="fa fa-search search-icon"></i>
                <input #gb type="text" class="form-control" pInputText placeholder="Search">
              </div>
            </div>
          </li>
          <li class="list-inline-item">
            <button class="btn btn-primary" data-toggle="modal" data-target="#addAssumption" (click)="resetAssumption()">Add
              Security
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- SAMPLE SUB HEADER ADDED -->


<!--SIDEBAR-->
<aside class="sidebar sidebar-light bg-white">
  <nav class="sidebar-nav">
    <ul>
      <li routerLinkActive="active"><a routerLink="/wize/admin/security"><!--<span class="nav-icon fa fa-shield"></span>-->Security</a></li>
      <li routerLinkActive="active"><a routerLink="/wize/admin/model-schema"><!--<span class="nav-icon fa fa-envelope"></span>--> Entity Modeling</a></li>
      <li routerLinkActive="active"><a routerLink="/wize/admin/scheduler"><!--<span class="nav-icon fa fa-modx"></span>-->Scheduling</a></li>
      <li routerLinkActive="active"><a routerLink="/wize/admin/ui-configration"><!--<span class="nav-icon fa fa-user"></span>-->User Interface</a></li>
    </ul>
  </nav>
</aside>
<!--SIDEBAR-->

<div class="right-column">
  <div class="p-2">
    <div class="card">
      <div class="card-block">
        <wize-admin-container></wize-admin-container>
      </div>
    </div>
  </div>
</div>


