

.ui-inputtext{
  border:none;
  padding: 0em;
}


.nested-table{

  th{
    border-top:0px solid transparent !important;
    background: none !important;
  }
}

.select-filter{
  border:none; 
  min-width:195px;
}
