@import '../../../../../../../styles/wizni-framework/scss/framework/variables';
@import '../../../../../../../styles/wizni-framework/scss/framework/mixins';

.sidebar{
	width: $sidebar-width;
	position: absolute;
	left: 0px;
	top: 112px;
	height: 100%;
	z-index: 1000;
	// box-shadow: 2px 0 2px 0 rgba(0,0,0,0.12);
	border-right:1px solid rgba(0, 0, 0, 0.125);

	@include transition(all .1s ease-in-out);

	.logo-wrapper{
		padding: 9px 18px;
		overflow:hidden;
		height: 48px;
		> a{
			color: #fff;
			text-transform: uppercase;
			font-size: 18px;
		}
		&.navbar-light{
			>a{
				color: $brand-primary;
			}
		}
	}

	@include media-breakpoint-down(md) {
		left: - $sidebar-width ;
	}

	&.sidebar-hidden{
		left: - $sidebar-width ;
	}
	&.sidebar-collapsed{
		width: $sidebar-width-collapsed;
		.sidebar-nav{
			ul{
				li{
					ul{
						display: none;
						position: absolute;
						left: 100%;
						top: 0px;
					}
				}
			}
			> ul > li > a{font-size: 0px;
				text-align: center;
				.nav-icon{
					/*font-size: $font-size-root;*/
					margin: 0px;
				}
			}
		}
	}



	+ .right-column{
		margin-left: $sidebar-width;
		@include transition(all .1s ease-in-out);
		@include media-breakpoint-down(md) {
			margin-left: 0px;
		}
		&.sidebar-hidden{
			margin-left: 0px;
		}
		&.sidebar-collapsed{
			margin-left: $sidebar-width-collapsed;
		}
	}


}



.sidebar-nav{
	margin-top: 1rem;
	height: calc( 100% - 80px);
	ul{
		list-style: none;
		margin:0px;
		padding: 0px;
		li{
			list-style: none;
			position: relative;
			border-left: 4px solid #fff;
			&.section-title{
				color: #83858a;
				font-size: .85rem;
				padding: 1rem 0px 5px 1rem;
				font-weight: 700;
				text-transform: uppercase;
			}
			a{
				display: block;
				padding: 0.8rem 2rem;
				color: rgba(255,255,255,0.5);
				text-decoration: none;
				white-space: nowrap;
				position: relative;

				&:before{
					content: "";
					  display: block;
					  position: absolute;
					  width: 100%;
					  height: 100%;
					  top: 0;
					  left: 0;
					  margin-left: 0;
					  background-image: -webkit-radial-gradient(circle, #fff 10%, transparent 10.01%);
					  background-image: -o-radial-gradient(circle, #fff 10%, transparent 10.01%);
					  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
					  background-repeat: no-repeat;
					  -webkit-background-size: 1000% 1000%;
					          background-size: 1000% 1000%;
					  background-position: 50%;
					  border: none;
					  opacity: 0;
					  pointer-events: none;
					  -webkit-transition: background .5s, opacity 1s;
					  -o-transition: background .5s, opacity 1s;
					  transition: background .5s, opacity 1s;
				}

				&:active:before {
				  -webkit-background-size: 0 0;
				          background-size: 0 0;
				  opacity: .1;
				  -webkit-transition: 0s;
				  -o-transition: 0s;
				  transition: 0s;
				}

				.nav-icon{
					display: inline-block;
					margin-right: 0.50rem;
					font-size:14px;
					color:rgba(255,255,255,0.4);
					vertical-align: middle;
					line-height: 1;
					/*width: 26px;
					height: 26px;
					background-color: #2a88a8;
					text-align: center;
					padding: 4px;*/

				}

			}

			&.active{
				background-color:rgba(0,0,0,0.3);
				> a{
					color: #fff;

					.nav-icon{
						color: #fff;
					}
				}
			}
			&.open{
				ul{
					display: block;
				}
				a{
					&:after{
						-ms-transform: rotate(90deg); /* IE 9 */
					    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
					    transform: rotate(90deg);
					}
				}
			}



			//Sub menu

			ul{


				padding-bottom: 15px;
				display: none;

				li{
					a{
						padding-left: 50px;
						/*padding-top: 0.6rem;
						padding-bottom: 0.6rem;*/
						font-size: 13px;
					}
				}
			}

		}

	}

	> ul{
		> li{
			> a{

				&:after{
					content: "\e235";
					display: block;
					position: absolute;
					color: #fff;
					top: 0px;
					bottom: 0px;
					margin: auto;
					height: 24px;
					right: 0.7rem;
					font-family: "wizni-iconset";
					@include transition(all .2s ease-in-out);
				}

				&:only-child{
					&:after{
					display: none;
					}
				}
			}
		}
	}

}




.sidebar{

	&.sidebar-light{
		.sidebar-nav{
			ul{

				li{

					a{
						color: rgba(0,0,0,0.5);
						&:before{
							content: "";
							  display: block;
							  position: absolute;
							  width: 100%;
							  height: 100%;
							  top: 0;
							  left: 0;
							  margin-left: 0;
							  background-image: -webkit-radial-gradient(circle, #ccc 10%, transparent 10.01%);
							  background-image: -o-radial-gradient(circle, #ccc 10%, transparent 10.01%);
							  background-image: radial-gradient(circle, #ccc 10%, transparent 10.01%);
							  background-repeat: no-repeat;
							  -webkit-background-size: 1000% 1000%;
							          background-size: 1000% 1000%;
							  background-position: 50%;
							  border: none;
							  opacity: 0;
							  pointer-events: none;
							  -webkit-transition: background .5s, opacity 1s;
							  -o-transition: background .5s, opacity 1s;
							  transition: background .5s, opacity 1s;
						}
						&:active:before {
						  -webkit-background-size: 0 0;
						          background-size: 0 0;
						  opacity: .4;
						  -webkit-transition: 0s;
						  -o-transition: 0s;
						  transition: 0s;
						}
						.nav-icon{
							color: rgba(0,0,0,0.5);
						}
					}
					&.active{
						background-color: #f7f7f7;
						border-left: 4px solid $brand-primary;
						> a{
							color: #307EAD ;
							.nav-icon{
								color: $brand-primary;
							}
						}
					}

				}
			}
			>ul{
				>li{
					>a{
						&:after{
							color: rgba(0,0,0,0.5);
						}
					}
				}
			}
		}
	}

	&.sidebar-colored{
		.sidebar-nav{

		}
	}
}

.logo{
  margin: 0px 0px 0 -21px;
  padding: 12px 13px 11px 13px;
  background: #1a212a;
  img{
    height:21px;
  }
}
.lrm-logo{
  color: white;
  font-weight: 700;
  display: inline-block;
  font-size: 20px;
  padding:1px 0 0 8px;
}

a.header-link{
	padding: 0.8rem 0rem !important;
}


