
.logo{
    margin: 0px 0px 0 -21px;
    padding: 12px 13px 11px 13px;
    background: #1a212a;
    img{
      height:21px;
    }
}

a{
  cursor: pointer;
}



.user{
	a{
		box-shadow:none !important;
	}
}