<section class="wrapper">
    <!--navigation starts-->
    <nav class="navbar navbar-full py-0 px-2 navbar-dark bg-inverse nav-container">
        <div class="container-no">
            <button class="navbar-toggler my-1 float-xs-right hidden-lg-up" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation"></button>
            <div class="clearfix hidden-lg-up"></div>
            <app-menu-bar class="collapse navbar-toggleable-md" id="navbarResponsive">
            </app-menu-bar>
        </div>
    </nav>

<router-outlet></router-outlet>
</section>



