<div *ngIf="dataTableInputConfig.isHeader && entity" class="navbar navbar-full py-1 px-2 navbar-light bg-faded sub-header">
    <dt-header [entity]="entity" [columns]="allColumns" [headerOptions]="dataTableInputConfig.headerOptions" (resetColumnsEvent)="resetColumns($event)" (updateColumnsEvent)="updateColumns($event)" (searchEvent)="searchRecords($event)" (addRowEvent)="addRow($event)"
        (importEvent)="importData($event)" (exportEvent)="exportData($event)" (filterEvent)="showFilterModal($event)">
    </dt-header>
</div>
<div [ngClass]="{ 'p-2' : dataTableInputConfig.isHeader }">
    <div [ngClass]="{ 'card' : dataTableInputConfig.isHeader }">
        <div [ngClass]="{ 'card-block' : dataTableInputConfig.isHeader}">
            <p-dataTable [styleClass]="(rows && rows.length) ? 'c-grid pf-expand-grid' : 'c-grid'" [lazy]="true" [value]="rows" [responsive]="true" [sortField]="entity.viewOptions.sortField" [rowGroupMode]="entity.viewOptions.rowGroupMode" [groupField]="entity.viewOptions.groupField"
                [sortableRowGroup]="false" [rows]="limit" [paginator]="paginator" expandableRowGroups="true" [stacked]="stacked" [responsive]="true" resizableColumns="true" reorderableColumns="true" (onLazyLoad)="getModelData($event)" scrollable="true" resizableColumns="true"
                [scrollHeight]="dataTableInputConfig.isHeader ? '600px' : '300px'">
                <ng-template pTemplate="rowgroupheader" let-rowData>{{getString( rowData,entity.viewOptions.groupField)}}
                </ng-template>
                <p-column *ngFor="let col of activeColumns" [field]="col.name" [header]="col.displayName" [sortable]="(!col.viewOptions.noSortable && dataTableInputConfig.isHeader)">
                    <template let-row="rowData" pTemplate>
                        <span [ngSwitch]="col.type">
                            <span *ngSwitchCase="'DATE'">{{row[col.name] | date:'MMM d, y h:mm a'}}</span>
                            <span *ngSwitchCase="'WIZE_MONEY'">{{row[col.name] | currency:'USD':true }}</span>
                            <a *ngSwitchCase="'WIZE_CODE'" href="javascript:;">
                                <span class="fa fa-sitemap" (click)="showRuleEditor(row, col.name)"></span>
                            </a>
                            <span *ngSwitchDefault>
                                <span [innerHTML]="row[col.name] | ellipsis : 20"></span>
                            </span>
                        </span>
                    </template>
                </p-column>
                <p-column header="Actions" [style]="{'width':'180px'}">
                    <ng-template let-row="rowData" pTemplate="body">
                        <div class="dropdown dropdown-custom">
                            <a class="action-dot" href="javascript:;" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                &#8226;&#8226;&#8226;
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a *ngIf="header" href="javascript:;" class="dropdown-item" (click)="showRow(row)"><i
                                        aria-hidden="true" class="fa fa-eye"></i> &nbsp;&nbsp;View</a>
                                <a class="dropdown-item" href="javascript:;" (click)="editRow(row)"><i
                                        aria-hidden="true" class="fa fa-pencil"></i> &nbsp;&nbsp;Edit</a>
                                <a class="dropdown-item" href="javascript:;" (click)="deleteRow(row)"><i
                                        aria-hidden="true" class="fa fa-trash-o"></i> &nbsp;&nbsp;Delete</a>
                            </div>
                        </div>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>
<add-edit [name]="entity.name" (modelChanged)="refreshModel($event)"></add-edit>
<import-data></import-data>
<filter [name]="entity.name"></filter>
<rule-builder #ruleBuilder></rule-builder>
